body {
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5F6073;
    
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 120px;
    
    /* Purple Gradient */
    
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 19px;
  }

header {
    display: flex;
    position: absolute;
    height: 72px;
    margin: 0 auto;
    top: 56px;
    left: 0;
    width: 97%;
    z-index: 3;
    vertical-align: middle;

    background-color: #FFFFFF;
    box-shadow: 8.66007px 3.60836px 72.1672px rgba(0, 0, 0, 0.18);
    border-radius: 14.4334px;
    
}

.logo-title {
    position: absolute;
    top: calc(50% - 28.8px/2 - 0px);
    height: 28.8px;
    left: 40px;
    cursor: pointer;

    
}

header .button-2 {
    position: absolute;
    right: 32.77px;
    top: calc(50% - 46px/2);
    background-color: #7579FF;
    border-radius: 8.66007px;
    height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.66007px 36.0836px;
    gap: 7.22px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.3201px;
    line-height: 26px;
    color: #FFFFFF;
    
    }

header p {
    position: absolute;
    right: 197.85px;
    top: calc(50% - 58px/2);
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.3201px;
    line-height: 26px;
    /* identical to box height */
        
    color: #1B1C37;
}

.center-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 36px;
    height: 72px;
    position: absolute;
    height: 72px;
    left: calc(50% - 229px/2 - 20.5px);
 
}

.title-header {
    height: 72px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.3201px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;


    /* Black */
    color: #1B1C37;
}

.active-header {
    height: 72px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.3201px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
    /* Purple */
    color: #7579FF;
}

.active-header .line {
    position: absolute;
    bottom: 0;
    
}

.title-header .line {
    display: none;
}

.black-title {
    background-color: #1B1C37;
    position: absolute;
    top: 0;
    left: calc(50% + 290px);
    width: 5000px;
    height: 100%   ;
    z-index: -2;
}

.img-title {
    position: absolute;
    left: calc(50% - 1px);
    top: calc(220px + 2vw);
    max-width: 44%;
    
    
}

.back-title {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    
}

.content-title {
    overflow: visible;
    max-width: 535px;
    width: 45%;
    margin-top: calc(100px + 2vw);
    margin-left: 16px;
}

.content-title h1 {
    width: 535px;
    margin: 0px 0px 30px 0px;
    z-index: 5;
}

.content-title p {
    margin: 0px 0px 45px 0px;
}

.button-1 {
    width: 232px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 16px 0px;
    margin: 0 0 6vh 0;
    background: #1B1C37;
    border-radius: 12px;
    cursor: pointer;
}

.button-1 p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: auto;
    /* identical to box height */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
}

.button-1 img {
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
    width: 26px;
    height: 26px;
}

.arrow-container {
    position: relative;
}

.arrow-a-title {
    position: absolute;
    top: 28px;
    left: 280px;
}

.arrow-b-title {
    position: absolute;
    top: calc(13vh - 30px);
    left: 480px;
}

.screen-title .container {
    max-width: 1280px;
    position: relative;
    z-index: 1;
}

.screen-title {
    position: relative;
}

.social-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-bottom: 7vh;
    margin-left: 10px;
}

.social-title img {
    width: 28px;
    height: 28px;
    margin: 0 18px 0 0;
}

.partners {
    background-color: #EDEEFF;
    height: 115px;
    width: 100%;
    
}

.partners .container {
    display: flex;
    max-width: 912px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    gap: 5.2vw;
}

